.qrcode-scanner-page {
    /* display: -moz-grid;
    display: grid;
    display: -ms-grid;

    grid-template-columns: 1fr 1fr; */
    text-align: center;
}

.qrcode-scanner-page__title {
    margin-top: 30px;
}

.qrcode-scanner-page__scanner {
    max-width: 500px;
    margin: 15px auto 0;
    transform: rotateY(180deg);
}